# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/
build/
.vite/

# Cache
.cache/
.npm/
.parcel-cache/

# ESLint / Stylelint cache
.eslintcache
.stylelintcache

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS metadata
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Vim / swap files
*~
*.swp
*.swo

# SASS cache
.sass-cache/

# Storybook
.out/

# Framework / tooling
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.turbo/

# Hosting/platform
.vercel/
.now

# Temporary files
tmp/
temp/
*.tmp

